<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Website</title>
</head>
<body>
    <h1>THIS IS THE LAYOUT</h1>

    {{{body}}}
    
</body>
</html>